 <div class="msb" id="msb">
        <nav class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
            <div class="brand-wrapper">
              <div class="brand-name-wrapper">
                <p>
                  Menu
                </p>
              </div>
      
            </div>
      
          </div>
      
          <div class="side-menu-container">
            <ul class="nav navbar-nav">
              <li id="sidenav-1"><a href="/<%= user.role %>">All Employees</a></li>
              <li id="sidenav-2"><a href="/<%= user.role %>/cars">All Cars</a></li>
              <li id="sidenav-3"><a href="/<%= user.role %>/registeruser">Register New User</a></li>
            </ul>
          </div>
        </nav>
      </div>