<nav class="mnb navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div id="navbar">

        <div class="navbar-header">
          <div class="brand-wrapper">
            <div class="brand-name-wrapper">
              <a class="navbar-brand" href="/">
                Adrian Fleet System
              </a>
            </div>
          </div>
    
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <p><%= user.name %> - <%= user.role %></p>
          </li>
          <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
        </ul>
      </div>
    </div>
  </nav>