<%- include('partials/header') -%>

<link rel="stylesheet" href="/css/home.css">
<main class="container">
    <div class="grid">        
        <section class="sidebar">
            <p>Cras</p>
            <p>Data</p>
        </section>

        <section class="content">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis reiciendis ea culpa amet autem distinctio quod unde aperiam enim? Tempore iusto quisquam veniam placeat veritatis reprehenderit similique consequatur velit itaque!</p>
        </section>
    </div>
</main>

<%- include('partials/footer') -%>